/* footer */
.bg-wrap {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.bg-inner {

    height: 300px;
    border-radius: 100% 100% 0 0;
    background-image: linear-gradient(to right, #8EB4E3 0%, #8EB4E3 50%, #FBC65C 0%, #FBC65C 50%);
    position: absolute;
    bottom: 0;
    /*     width: 120%; */
    /*     left: -10%;
    top: 0px; */
    right: -15%;
    left: -15%;
}

/* 購物車icon */
.btn-cart {
    position: relative;
    background-color: transparent;
}

/* .btn-cart:hover {
    cursor: pointer;
} */
.btn-cart .badge {
    position: absolute;
    top: 0;
    right: 0;
}



/* 內容框 */
.box {
    border: solid 0.5em #8EB4E3;
    border-radius: 2em;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    padding: 10em;
}

/* r側邊鈕 */
#mySidenavr {
    height: 100%;
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

#mySidenavr a {

    position: absolute;
    right: -290px;
    transition: 0.3s;
    padding: 15px;
    height: 100%;
    width: 300px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    /* border-radius: 0 5px 5px 0; */
}

#mySidenavr a:hover {
    right: 0;
}

#Sidenavr {
    /* top: 100px; */
    background-color: #FBC65C
}

.sideImg {
    display: block;
    margin: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    width: 100px;
    height: 100;

}

/* l側邊鈕 */
#mySidenavl {
    height: 100%;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

#mySidenavl a {

    position: absolute;
    left: -290px;
    transition: 0.3s;
    padding: 15px;
    height: 100%;
    width: 300px;
    text-decoration: none;

    color: white;
    /* border-radius: 0 5px 5px 0; */



}

#mySidenavl a:hover {
    left: 0;
}

#Sidenavl {
    /* top: 100px; */
    background-color: #8EB4E3
}

.sideImg1 {
    display: block;
    margin: auto;

    position: absolute;
    top: 50%;
    right: 50%;
    align-items: center;
    width: 100px;
    height: 100;

}

/* NAVBAR導覽列 */
.navbar .navbar-nav .nav-link:hover {
    color: #000000;
}

.navbar .navbar-nav .nav-iteml {
    position: relative;
}

.navbar .navbar-nav .nav-itemr {
    position: relative;
}

.navbar .navbar-nav .nav-iteml::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #8EB4E3;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.5s;
}

.navbar .navbar-nav .nav-itemr::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #FBC65C;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.5s;
}

.navbar .navbar-nav .nav-iteml:hover::after {
    width: 100%;
}

.navbar .navbar-nav .nav-itemr:hover::after {
    width: 100%;
}

@media only screen and (min-width: 992px) {
    .navbar {
        padding: 20;
    }

    .navbar .navbar-brand {
        padding: 0 0.7em;
    }

    .navbar .navbar-nav .nav-link {
        padding: 1em 0;
    }

    .navbar .navbar-nav .nav-iteml {
        margin: 0 1em;
    }

    .navbar .navbar-nav .nav-itemr {
        margin: 0 1em;
    }
}

.navbar .navbar-nav .nav-iteml::after {
    transition: all 0.5s;
}

.navbar .navbar-nav .nav-itemr::after {
    transition: all 0.5s;
}