/*初始值*/
#content{
    margin-top: 100px;
}


/*popFamily*/
.popTitle {
    font-weight: bold;
    font-size: 18px;
    color: rgb(62, 89, 209);
}

.popAddr {
    font-size: 16px;
    color: gray;
}

.popRes {
    font-size: 16px;
    color: gray;
}

.hidden {
    display: none;
}

/*markFamily*/
.intrMark {
    line-height: 40px;
}

.markicon {
    width: 20px;

}

.redRes {
    color: white;
    background-color: rgb(255, 61, 61);
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 18px;
}

.greenRes {
    color: white;
    background-color: rgb(62, 255, 127);
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 18px;

}

.orangeRes {
    color: white;
    background-color: rgb(248, 134, 58);
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 18px;

}

.blackRes {
    color: white;
    background-color: rgb(0, 0, 0);
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 18px;

}


/*tableFamily*/
.gymList {
    width: 90%;
}

.gymTitle {
    font-size: 18px;
    background-color: rgb(120, 168, 227);
}

.gym_table {
    line-height: 40px;
    text-align: center;
    width: 90%;
}

.gympic {
    height: 300px;
}



#gym_data h2 {
    color: rgb(142, 180, 227);
}


/*dialogFamily*/

.ui-dialog {
    z-index: 1000 !important;
}

.ui-widget-header.ui-dialog-titlebar {
    background: rgb(251, 198, 92);
    border: 1px solid gray;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.yescls {
    font-size: 15px;
    color: #FFFFFF;
    width: 100px;
    background: #53ff31 !important;
}

.cancelcls {
    font-size: 15px;
    color: #FFFFFF;
    width: 100px;
    background: #e84343 !important;
}


.memo {
    font-size: 14px;
    color: red;
    font-weight: bold;
}

.notice{
    font-size: 14px;
    background-color: rgb(255, 255, 0);
    font-weight: bold;
}
/* 
.inbody{
    background-color: rebeccapurple;
    height: 100px;
} */