.try {
    background-color: rgb(225, 253, 233);
}

.try1 {
    background-color: rgb(235, 149, 243);
}

.try2 {
    background-color: rgb(252, 234, 224);
}

.try3 {
    background-color: rgb(244, 192, 119);
}

.with {
    height: 90vh;
}

.b1 {
    border: 2px solid #5896f9;
    border-radius: 5px;
}

.b2 {
    border: 2px solid #f9d158;
    border-radius: 5px;
}

/*........................... */
.navbar01 {
    background-color: #E5D9CE;
}
