.try {
    background-color: rgb(225, 253, 233);
}

.try1 {
    background-color: rgb(235, 149, 243);
}

.try2 {
    background-color: rgb(252, 234, 224);
}

.try3 {
    background-color: rgb(244, 192, 119);
}

.with {
    height: 90vh;
}

.b1 {
    border: 2px solid #5896f9;
    border-radius: 5px;
}

.b2 {
    border: 2px solid #f9d158;
    border-radius: 5px;
}

/*........................... */

.header01 {
    margin-bottom: 6vh;
    margin-top: 22vh;
    font-size: 40px;
    font-weight: 600;
    color: rgb(60, 56, 41);
    text-align: center;
    letter-spacing: 2px;
    text-shadow: rgba(99, 96, 96, 0.24) 0px 3px 5px;
}

.button01 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #c49563f7;
    border-color: #dac7a6;
    border-radius: 2px;
    padding: 6px;
    margin-bottom: 1rem;
    text-decoration: none;
    box-shadow: rgba(131, 120, 120, 0.761) 1px 1px 2px;
}

.button01:hover {
    text-decoration: underline;    
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: #b29454f7;
    border-color: #af9c7a;
    box-shadow: rgba(130, 126, 126, 0.761) 1px 1px 2px;
}

.table-color {
    color: rgb(255, 251, 251);
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    background-color: #826949f7;
    text-shadow: rgba(123, 122, 122, 0.24) 1px 2px 2px;

}

.btn01 {
    display: inline-block;
    font-weight: 500;
    color: #6b6f72;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 18px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .card-header01:hover {
    background-color: #fff3e3d6;
  }

  .card-header01 {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(119, 106, 106, 0.03);
    border-bottom: 2px solid rgba(54, 49, 49, 0.125);
  }
  
  .card-header01:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  
  .card-header01 + .list-group .list-group-item:first-child {
    border-top: 0;
  }

