.try {
    background-color: rgb(106, 206, 134);
}

.try1 {
    background-color: rgb(235, 149, 243);
}

.try2 {
    background-color: rgb(252, 234, 224);
}

.try3 {
    background-color: rgb(244, 192, 119);
}

.with {
    height: 90vh;
}

.b1 {
    border: 2px solid #5896f9;
    border-radius: 5px;
}

.b2 {
    border: 2px solid #f9d158;
    border-radius: 5px;
}

.location {
    justify-content: center;
    align-items: center;
}


.outside{
    border-radius: 5px;
    /* position: absolute; */
    padding: 25px;
    border: 3px solid rgb(80, 69, 69);
    height: 550px;
    width: 500px;

    /* left:  calc((100vw - 500px) / 2);
    top : calc((100vh - 500px) / 2); */

}

#mark{
    height: 100%;
    width: 100%;
}

.header01 {
    font-size: 30px;
    font-weight: 600;
    color: rgb(80, 69, 69);
    text-align: center;
    letter-spacing: 2px;
}


.header-font {
    font-size: 18px;
    font-weight: 600;
    color: rgb(88, 81, 81);

}


.font02 {
    font-weight: 600;
    margin-top: -10px;
    color: rgb(80, 69, 69);

}
