.try {
  background-color: rgb(225, 253, 233);
}

.try1 {
  background-color: rgb(235, 149, 243);
}

.try2 {
  background-color: rgb(252, 234, 224);
}

.try3 {
  background-color: rgb(244, 192, 119);
}

.with {
  height: 90vh;
}

.b1 {
  border: 2px solid #5896f9;
  border-radius: 5px;
}

.b2 {
  border: 2px solid #f9d158;
  border-radius: 5px;
}

/*........................... */

.header01 {
  margin-top: 20vh;
  font-size: 40px;
  font-weight: 600;
  color: rgb(60, 56, 41);
  text-align: center;
  letter-spacing: 2px;
  text-shadow: rgba(99, 96, 96, 0.24) 0px 3px 5px;
}

.notice {
  color: rgb(230, 75, 44);
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.card-header01:hover {
  background-color: #fff3e3d6;
}

.card-header01 {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(119, 106, 106, 0.03);
  border-bottom: 2px solid rgba(54, 49, 49, 0.125);
}

.card-header01:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header01+.list-group .list-group-item:first-child {
  border-top: 0;
}

.table-color {
  color: rgb(255, 251, 251);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color:#d39757;
  text-shadow: rgba(235, 232, 232, 0.24) 1px 1px 5px;
}


.btn-off {
  display: inline-block;
  color: #783519;
  border: 1.6px solid #8c3b18;
  padding: 8px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  box-shadow: rgba(216, 216, 216, 0.761) 1px 1px 5px;
  text-shadow: rgba(123, 122, 122, 0.24) 1px 2px 2px;
}

.btn-off:hover {
  text-decoration: none;
  color: #fff;
  background-color: #8c3b18 !important;
  border: 1.6px solid #8c3b18;
  box-shadow: rgba(123, 122, 122, 0.24) 1px 2px 2px;
}


.btn-on{
  display: inline-block;
  color: #1d4dc6;
  border:1.6px solid #0c58c4;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;
  box-shadow: rgba(216, 216, 216, 0.761) 1px 1px 5px;
  text-shadow: rgba(123, 122, 122, 0.24) 1px 2px 2px;
}


.btn-on:hover {
  color: #fff;
  background-color: #243fc4;
  border-color: #0f3bc9;
  text-decoration: none;
  box-shadow: rgba(123, 122, 122, 0.24) 1px 2px 2px;
}

.btn-ok01{
  display: inline-block;
  color: #1d4dc6;
  border:1.6px solid #0c58c4;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: rgba(216, 216, 216, 0.761) 1px 1px 5px;
  text-shadow: rgba(123, 122, 122, 0.24) 1px 2px 2px;
}


.btn-ok01:hover {
  color: #fff;
  background-color: #243fc4;
  border-color: #0f3bc9;
  text-decoration: none;
  box-shadow: rgba(123, 122, 122, 0.24) 1px 2px 2px;
}


.btn-edit {
  display: inline-block;
  color:  #00d11f;
  border: 1.6px solid #1fcd00;
  border-radius: 5px;
  padding: 8px;
  font-weight: 600;
  font-size: 18px;
  box-shadow: rgba(216, 216, 216, 0.761) 1px 1px 5px;
  text-shadow: rgba(123, 122, 122, 0.24) 1px 2px 2px;
}

.btn-edit:hover {
  text-decoration: none;
  color: #fff;
  background-color: #0cd62b !important;
  border: 1.6px solid #6ee15a;
  box-shadow: rgba(123, 122, 122, 0.24) 1px 2px 2px;
}

.btn-edit01 {
  display: inline-block;
  color:  #00d11f;
  border: 1.6px solid #1fcd00;
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
  font-size: 14px;
  box-shadow: rgba(216, 216, 216, 0.761) 1px 1px 5px;
}

.btn-edit01:hover {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #0cd62b !important;
  border: 1.6px solid #6ee15a;
  box-shadow: rgba(216, 216, 216, 0.761) 1px 1px 5px;
}



.btn-delete {
  display: inline-block;
  color: #d11212;
  border:1.6px solid #d00e0e;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;
  box-shadow: rgba(216, 216, 216, 0.761) 1px 1px 5px;
  text-shadow: rgba(123, 122, 122, 0.24) 1px 2px 2px;

}

.btn-delete:hover {
  padding: 8px;
  color: #fff;
  background-color: #d00c1f;
  border-color: #b70808;
  text-decoration: none;
  box-shadow: rgba(123, 122, 122, 0.24) 1px 2px 2px;
}

.btn-delete01 {
  display: inline-block;
  color: #d11212;
  border:1.6px solid #d00e0e;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  box-shadow: rgba(216, 216, 216, 0.761) 1px 1px 5px;

}

.btn-delete01:hover {
  color: #fff;
  background-color: #d00c1f;
  border-color: #b70808;
  text-decoration: none;
  box-shadow: rgba(216, 216, 216, 0.761) 1px 1px 5px;
}

.btn-add{
  display: inline-block;
  color:  #ffffff;
  border:1.6px solid #0c58c4;
  background-color: #3d53c3;
  width: 160px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 10px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  box-shadow: rgba(221, 230, 255, 0.761) 1px 1px 5px;
  text-shadow: rgba(123, 122, 122, 0.24) 1px 2px 2px;
}


.btn-add:hover {
  padding: 5px;
  color: #fff;
  background-color: #464f7c;
  border-color: #0f3bc9;
  text-decoration: none;
  box-shadow: rgba(123, 122, 122, 0.24) 1px 2px 2px;
}


.fontsize {
  font-weight: 400;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cen10 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.f-header {
  font-size: 18px;
}


.f-input {
  border: 0;  
  outline: none; 
  background-color: rgba(0, 0, 0, 0);
}

.f-size {
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: #291010;
  font-size: 20px;
}

.img-up {
  width: 150px;
}

.fileinput {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.fileinput input{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
 }

 .table-log {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  background-color:#d39757;
  text-shadow: rgba(235, 232, 232, 0.24) 1px 1px 5px;
}

.log-content {
  font-size: 16px;
  font-weight: 600;
  text-shadow: rgba(235, 232, 232, 0.24) 1px 1px 5px;
}

.log-content:hover {
  background-color:#fbf0dd;
}

.dd {
  vertical-align: middle;
  text-align: center;
}

.ff {
  width: 100%;
}