.nav-li {
    width: 50%;
    text-align: center;
    line-height: 40px;

}

.hidden {
    display: none;
}

.selected {
    background-color: rgb(139, 170, 199);
    color: white;
}

/*icon*/
#checkEye {
    position: absolute;
    top: 50%;
    right: 60px;
    z-index: 10;
    transform: translateY(-50%);
}

.checkEye2 {
    position: absolute;
    top: 50%;
    right: 60px;
    z-index: 10;
    transform: translateY(-50%);
}

/*span*/


#who {
    color: rgba(53, 121, 214, 0.745);

}


#validUpdate {
    margin: 0 auto;
    font-size: 12px;
    background: yellow;
    width: fit-content;
    padding: 2PX;
}

.confirmSpan {
    position: absolute;
    top: 20%;
    right: 10px;
    z-index: 10;
}