/*導覽列*/
.nav-li {
    width: 33.33333%;
    text-align: center;
    line-height: 40px;

}

/*spanfamily*/

.mb_status{
    background-color: #E5D9CE;
    border-radius: 10px;
    padding: 10px;
}

.validUpdate{
    background-color: yellow;
    width: fit-content;
    font-size: 14px;

}

.js_psw{
    margin-right: 10px;
    font-size: 10px;
}

/*orderFamily*/
.order_tb{
    width: 100%;
    text-align: center;
    table-layout: fixed;
    background-color: #bbccdf;    

}

.order_tr:hover{
    background-color: #f5ddad;
    cursor: pointer;
}
.order_data{
    width: 100%;
    text-align: center;
    table-layout: fixed;
    /* background-color: ; */
}

.order_data td{
    vertical-align:middle
}
.detail_img{
    width: 100px;
}
